<html>
<head>
    <title>PictureIt</title>
    <link rel="stylesheet" href="css/index.css" type="text/css"> 
</head>
<body>
    <h1>HOME PAGE</h1>
    <input type="text" placeholder="Insert Text Here"></input>
</body>
</html>
